mixin order_item(data)
    tr
        td
            table.order__item
                tbody
                    tr
                        td.order__item_preview
                            img(src=data['preview'])

                        td.order__item_props
                            table
                                tbody
                                    tr
                                        td.order__prop_name !{data['name']}

                                    tr
                                        td.order__prop_price $!{data['price']}

                        td.order__item_quantity
                            table
                                tbody
                                    tr
                                        td !{data['quantity']}