include _mixins

doctype html
html
    head
        meta(name='charset', content='utf-8')
        title Thanks for shopping with us!
        link(rel='stylesheet', href='style.css')

    body
        table.order
            tbody
                tr
                    td(colspan=6).order__top Thanks for shopping with us!

                tr
                    td
                    td(colspan=4).order__note
                        //-|Your order was placed successfully, and will be shipped out within 3-8 business day.#[br]#[br]We will send you a bracelet as soon as it goes on sale.
                        |Your order was placed successfully, and will be shipped out within 3-8 business day.
                    td

                tr
                    td
                    td(colspan=4).order__items
                        table
                            tbody
                                //- var items = [{preview: "/mail/images/adapter.png", name:"WELLNESS-ADAPTER", price: 99, quantity: 1}, {preview: "/mail/images/bracelet.png", name:"WELLNESS-BRACELET", price: 10, quantity: 1}, {preview: "/mail/images/jack_adapter.png", name:"audio adapter", price: 10, quantity: 1}]
                                - var items = [{preview: "/mail/images/adapter.png", name:"WELLNESS-ADAPTER", price: 99, quantity: 1}, {preview: "/mail/images/jack_adapter.png", name:"audio adapter", price: 10, quantity: 1}]
                                each item in items
                                    +order_item(item)

                    td

                tr
                    td
                    td(colspan=4).order__socials
                        table
                            tbody
                                tr
                                    td
                                        a(href="#")
                                            img(src="/images/icons/insta.svg")

                                    td
                                        a(href="#")
                                            img(src="/images/icons/facebook.svg")

                                    td
                                        a(href="#")
                                            img(src="/images/icons/linkedin.svg")

                    td